# Copyright (c) 2022-2023, The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    start ueventd

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64

    # Mount partitions specified by fstab.
    mount_all /first_stage_ramdisk/fstab.default --early

    # Ensure OTA directory exists for update_engine snapshots
    mkdir /metadata/ota 0770 system system
    restorecon_recursive /metadata/ota

    start adbd

on boot
    setprop ro.crypto.state unlocked
    setprop sys.usb.config adb 
on early-init
    setprop ro.boot.dynamic_partitions true
