# Disable problematic LineageOS components that cause sepolicy issues
dontaudit {
  hal_lineage_livedisplay_qti
  hal_lineage_livedisplay_sysfs
  system_server
} {
  vendor_display_prop
  property_type
}:{ file dir } *;

# Disable all interaction between system_ext domains and vendor types causing neverallow violations
dontaudit domain vendor_property_type:file *;
dontaudit domain vendor_property_type:dir *; 