service android.system.wifi.keystore@1.0-service /system/bin/hw/android.system.wifi.keystore@1.0-service
    interface android.system.wifi.keystore@1.0::IKeystore default
    class hal
    user system
    group system wifi